body {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.page {
    width: 100%;
    height: auto;
    display: flex;
}

/* menu bar styling */
.menu-bar {
    overflow: hidden;
}

.menu-bar a {
    float: left;
    font-size: 17px;
    color: black;
    text-align: left;
    padding: 15px 75px;
    text-decoration: none;
}

/* dropdown styling */
.dropdown {
    float: left;
    overflow: hidden;
}
.drop-content {
    display: none;
    position: relative;
    min-width: 100px;
    padding-bottom: 15%;
    padding-left: 20%;
    height: auto;
}
#home {
    padding-left: 28%;
}
.drop-content a {
    color: black;
    font-size: 12px;
    padding: 0px;
    display: block;
    text-decoration: none;
    text-align: left;
    padding-left: 25px;
}
.drop-content a:hover {
    font-weight: bold;
}
.dropdown:hover .drop-content {
    display: flex;
    flex-direction: column;

}
.menu-bar a:hover, .dropdown:hover .hamburger-content li {
    font-weight: bold;
}

/* hamburger menu */
a {
    text-decoration: none;
    color: black;
  
    transition: color 0.3s ease;
}
a:hover {
  font-style: bold;
}
#hamburger-toggle {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
  
    z-index: 1;
  
    -webkit-user-select: none;
    user-select: none;
}
#hamburger-toggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    cursor: pointer;
  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
}

/* hamburger icon */
#hamburger-toggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
  
    background: white;
    border: 1px solid #171717;
    border-radius: 25px;
  
    z-index: 1;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    
}
#hamburger-toggle span:first-child {
    transform-origin: 0% 0%;
}
#hamburger-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* transform all the slices of hamburger into an x */
#hamburger-toggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
#hamburger-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#hamburger-toggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
#hamburger-content {
    position: absolute;
    width: 300px;
    height: 700px;
    margin: -100px 0 0 0;
    padding: 15px;
    padding-top: 125px;
    right: -50px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#hamburger-content li {
    padding: 20px 0px;
    font-size: 17px;
    color: black;
    width: auto;

}

/* animation */
#hamburger-toggle input:checked ~ ul {
    transform: none;
    opacity: 1;
}
@media screen and (max-width: 768px) {
    #hamburger-content {
        transform: none;
        opacity: 0;

        transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
}

/* title page styling */
.title-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 85px;
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    color: white;
    line-height: 110px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subtitle {
    font-size: 40px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    color: white;
    line-height: 69px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* homepage styling */ 
.homepage {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/homepage.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homepage-title-container {
    
    align-items: center;
    justify-content: right;
}
#homepage-subtitle {
    text-align: end;
    padding-right: 8%;
}
.mainsub-block {
    position: absolute;
    width: 100%;
    margin: auto;
    height: auto;
    top: 120%;
}
.mainsub-block1 {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.sub-body-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    top: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}
.sub-body-subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
#right-align {
    text-align: right;
    left: 0;
}
.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    width: 100%;
}
.mainsub-text1 {
    position: relative;
    width: auto;
    height: auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;
}
.mainsub-image1 img{
    display: flex;
    float: left;
    width: 100%;
}
#homepage-text1 {
    display: flex;
    float: left; 
    width: auto;
    margin-right: 2%;
    margin-left: 2%;
}
.mainsub-block2-bg {
    position: relative;
    padding: 5%;
    height: auto;
    width: 75%;
    left: 14.7%;
    background-color: #F5F5F5;
}
#home-block {
    top: 130%;
}
.mainsub-link2 {
    position: relative;
    width: 40%;
    text-align: right;
    margin-left: 60%;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px; 
}
.mainsub-link2 a {
    text-align: right;
    text-decoration: none;
    color: black;
}
.mainsub-link2 a:hover {
    text-decoration: underline;
}
#explore-image {
    width: 150%;
}

/* looking section styling */
.looking-block-home {
    position: relative;

    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.looking-subtitle {
    position: relative;
    width: 60%;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.looking-link {
    position: relative;
    width: auto;
    font-size: 24px;
    text-align: right;
    padding-bottom: 10%;
}
.looking-link a {
    text-align: right;
    text-decoration: none;
    color: black;
}
.looking-link a:hover {
    text-decoration: underline;
}
.text {
    position: absolute;
    width: auto;
    height: 10%;
    left: 25%;
    top: 85%;

    font-weight: 600;
    font-size: 30px;
    line-height: 38.73px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.01em;

    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bike-route-1-category {
    width: 55%;
    margin: auto;
}
.bike-route-1-category img {
    position: relative;
    width: 100%;
}

/* tips home-page styling */
.tips-home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/tips.jpeg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
#tips-image{
    width: 200%;
}
#tips-image2{
    width: 240%;
}

/* page body styling */
.sub-body-title {
    position: relative;
    width: 100%;
    top: 0;

    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}
.sub-body-subtitle {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}
#right-align {
    text-align: right;
    left: 0;
}

/* road rules styling */
.roadrules-home {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(images/roadrules.png);

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
#triangles-text {
    left: 48%;
}
.tip-block {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    padding: 2%;

    background-color: #F5F5F5;
}
#homepage-text2 {
    display: flex;
    float: left; 
    width: auto;
    margin-right: 2%;
}
#park-image {
    width: 75%;
}
#roadrule-end {
    left: 0;
    margin: auto;
}
#roadrule-title {
    text-align: center;
}
.road-sign-image {
    width: 100%;
    margin: auto;
}
.road-sign-image img {
    position: relative;
    width: 100%;
}

/* biking vs public transport styling */
.bikingvspublictransport {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/explorethecitybybike.jpeg);

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.intro-paragraph {
    position: relative;
    width: 80%;
    margin: auto;
    height: auto;
    top: 20%;

    font-weight: 400;
    font-size: 23.5px;
    line-height: 35px;
    text-align: center;
}
.subpage1-title {
    position: relative;
    width: 100%;

    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
}
.subpage1-subtitle1 {
    position: relative;

    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.subpage1-text2 {
    position: relative;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.mainsub-block-reason {
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
}
#fivereasons {
    top: 40%;
}
#reason1-block {
    left: 0;
    padding: 5%;
    background-color: #FAFAFA;
    margin-top: 5%;
    margin-left: 0;
}
#reason1-image {
    width: 35%;
}
#reason2-block {
    background-color: #FAFAFA;
    margin-top: 5%;
}
#reason2-image {
    width: 20%;
}
#reason3-image {
    width: 15%;
}
#bike-look {
    top: 110%;
}

/* west side story page styling */
.westside-home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/westside-home.jpeg);

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
#map-block {
    top: 40%;
}
#map-position {
    width: 70%;
    left: 0;
    margin: auto;
}
#begin-route {
    width: auto;
    text-align: center;
    padding: 2.5%;
    margin: 0;
}
#places-position {
    top: 60%;
}
#places-size {
    width: 80%
}
.route-locations {
    position: relative;
    width: 31.5%;
    height: 60vh;
    margin: 0.5%;
    float: left;
    border-radius: 10px;
}
.stop-image {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;

    width: 100%;
    height: 100%;

    z-index: -1;
    border-radius: 10px;
}
#location-name {
    width: auto;
    height: 50px;
    top: 78%;
    padding-left: 10%;

    font-size: 26px;
    color: white;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-align: left;

    visibility: visible;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;

    transition: opacity 0.2s, visibility 0.2s;
}
.place-description {
    position: absolute;
    bottom: 0%;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 10%;

    color: white;
    font-size: 24px;
    text-align: left;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    opacity: 1;
}
.route-locations:hover .overlay {
    visibility: visible;
    opacity: 0.7;
}
.place-title {
    position: relative;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;

    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;

    overflow: auto;
}
.location {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
}
.route-locations:hover #location-name {
    visibility: hidden;
}

/* rent-a-bike page styling */
.rent-home {
    background-image: url("images/rental-home.png");
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(images/rental-home.png);

    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.box {
    position: relative;
    width: 25%; 
    height: 50vh;
    margin: 0.5%;
    float: left;
    overflow: auto;

    border: 4px black solid;
    border-radius: 15px;
}
.place-image {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 60%;

    z-index: -1;
    border-radius: 10px;
}
.info-box {
    position: relative;
    top: 60%;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}
.price {
    float: right;
}
.external-link {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 3.5%;
    padding-bottom: 3.5%;

    font-size: 18.5px;
    line-height: 19px;
    text-align: center;
    font-weight: 600;
    font-family: inherit;
}
#rentabike {
    padding-top: 8%;
    padding-bottom: 8%;
}

/* page footer styling */
#footer-home {
    background-color: #FAFAFA;
    font-size: 15px;
    margin-bottom: 1.5%;
    padding-bottom: 20px;
}
.footer-container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
#footer-home3 {
    top: 102%;
    background-color: #FAFAFA;
    font-size: 15px;
    margin-bottom: 1.5%;
}
.footer-subcontainer {
    position: relative; 
    width: 23.5%;
    height: auto;
    margin: 0.5%;
    float: left;
}
.footer-title {
    margin-left: 3%;
    font-size: 30px;
}
.footer-subtitle {
    font-size: 20px;
}
.footer-subtitle a:hover {
    text-decoration: underline;
}
a {
   text-decoration: none;
   color: black;
   line-height: 30px;
}
a:hover {
}