{% extends "layout.html" %}

{% block body %}
    <div class="page">
        <!--first section of bikingvspublictransport-->
        <div class="bikingvspublictransport">
            <div class="title-container">
                <div class="title">BIKING VS PUBLIC TRANSPORT<br>
                <div class="subtitle">A guide for choosing your mode of transport</div>
            </div>
        </div>

        <!--introduction paragraph-->
        <div class="intro-paragraph">
            Amsterdam is one of the best cities to explore on two wheels due to its deeply ingrained biking 
            culture. Biking allows for a more authentic and engaging experience, as it lets you explore at
            your own pace, and immerse yourself in the bustling city. Although Amsterdam has a reliable public
            transport system, biking is a unique and fun way to discover the city's beauty and history. So if 
            you're looking for an energetic and cultural adventure, why not choose to bike your way through 
            Amsterdam?
        </div>

        <div class="mainsub-block-reason" id="fivereasons">
            <div class="subpage1-title">5 AREAS OF COMPARISON</div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason1-image">
                            <img src="static/number1.png" alt="number-1">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Flexibility and Convenience<br>
                            <div class="subpage1-text2">
                                With a bike, you have the flexibility to go wherever you want, whenever you want. No waiting for schedules or stops.
                                Public transport, on the other hand, operates on fixed routes and schedules, limiting your flexibility and requiring adherence to their timetable.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="mainsub-block-reason">
                <div class="mainsub-block2-bg" id="reason2-block">
                    <div class="content">
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Effiency and Time-Saving<br>
                            <div class="subpage1-text2">
                                Biking allows you to navigate through traffic easily, taking shortcuts and avoiding congestion. It can be faster, especially for short to medium distances.
                                Public transport can be subject to delays, crowded conditions, and the need to transfer between different modes of transport, potentially adding to travel time.
                            </div>
                            </div>
                        </div>
                        <div class="mainsub-image1" id="reason2-image">
                            <img src="static/number2.png" alt="number-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason3-image">
                            <img src="static/number3.png" alt="number-3">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Cost-Effectivenesse<br>
                            <div class="subpage1-text2">
                                Biking is a cost-effective mode of transportation as it eliminates the need for purchasing tickets or passes.
                                Public transport requires the purchase of tickets or passes, which can add up, especially for longer stays or frequent use.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block2-bg" id="reason2-block">
                    <div class="content">
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Health and Well-Being<br>
                            <div class="subpage1-text2">
                                Biking is an active form of transportation that provides exercise, helping you stay fit and improve your overall well-being.
                                Public transport typically involves less physical activity, as you spend most of the journey sitting or standing.
                            </div>
                            </div>
                        </div>
                        <div class="mainsub-image1" id="reason2-image">
                            <img src="static/number4.png" alt="number-4">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason3-image">
                            <img src="static/number5.png" alt="number-5">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Authentic Experience<br>
                            <div class="subpage1-text2">
                                Biking allows you to experience Amsterdam like a local, immersing yourself in the city's cycling culture and discovering hidden spots.
                                Public transport provides a view of the city from a different perspective, but it may not offer the same immersive experience as biking.
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!--block for looking for things to do-->
            <div class="mainsub-block" id="bike-look">
                <div class="looking-block-home">
                    <div class="looking-subtitle">LOOKING FOR INSPIRATION?</div>
                    <div class="mainsub-text1">
                        Different routes suitable for all skill levels. Discover Amsterdam, and start your biking adventure today!
                    </div>
                        
                    <div class="looking-link"><b><a href="sightseeing">FIND OUT MORE</a><span>&#8594;</span></b></div>
    
                    <div class="bike-route-1-category">
                        <a href="westsidestory"><img src="static/bikeroute.png" alt="park-image"></a><div class="text">West Side Story</div>
                    </div>
                </div>

                <!--footer-->
                <div class="mainsub-block" id="footer-home">
                    <div class="footer-container">
                        <div class="footer-subcontainer">
                            <div class="footer-title">Bike in<br><b>Amsterdam</b></div>
                        </div>
                        <div class="footer-subcontainer">
                            <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                            <br>
                            <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                            <br> 
                            <div class="footer-subtitle"><a href="bikingvspublictransport">BIKING VS PUBLIC TRANSPORT</a></div>
                            <br><br>
                            <div class="footer-subtitle"><a href="westsidestory"><b>BIKE ROUTE</b></a></div>
                        </div>
                        <div class="footer-subcontainer">
                            <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                            <br>
                            <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                            <br>
                            <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                            <br>
                            <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                            <br><br>
                            <div class="footer-subtitle"><a href="rental"><b>RENTAL</b></a></div>
                        </div>
                        <div class="footer-subcontainer">
                            <br><br><br><br><br><br><br><br><br><br>
                            Made by
                            <br>
                            <b>BIKE WITH US</b>
                            <br> 
                            <span>&#169;</span>Bike in Amsterdam. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









{% endblock %}