{% extends "layout.html" %}

{% block body %}
    <div class="page">
        <!--first section of bikingvspublictransport-->
        <div class="bikingvspublictransport">
            <div class="title-container">
                <div class="title">DISCOVER THE CITY BY BIKE<br>
                <div class="subtitle">Experiencing the iconic cycling culture of Amsterdam</div>
            </div>
        </div>

        <!--introduction paragraph-->
        <div class="intro-paragraph">
            Amsterdam is one of the best cities to explore on two wheels due to its deeply ingrained biking 
            culture. Biking allows for a more authentic and engaging experience, as it lets you explore at
            your own pace, and immerse yourself in the bustling city. Although Amsterdam has a reliable public
            transport system, biking is a unique and fun way to discover the city's beauty and history. So if 
            you're looking for an energetic and cultural adventure, why not choose to bike your way through 
            Amsterdam?
        </div>

        <div class="mainsub-block-reason" id="fivereasons">
            <div class="subpage1-title">5 REASONS WHY YOU SHOULD BIKE</div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason1-image">
                            <img src="static/images/number1.png" alt="number-1">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Bike-friendly city<br>
                            <div class="subpage1-text2">
                                Amsterdam is a city where biking is truly loved by everyone! With its well-developed cycling infrastructure
                                that includes an extensive network of bike paths, bike lanes, and traffic-calmed streets, it is one of the 
                                most bike-friendly cities in the world. Just remember to always watch out for cars, trams, pedestrians, and 
                                other cyclists to ensure a safe and fun biking experience!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="mainsub-block-reason">
                <div class="mainsub-block2-bg" id="reason2-block">
                    <div class="content">
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Health and Sustainability<br>
                            <div class="subpage1-text2">
                                Explore Amsterdam in an eco-friendly and healthy way by chooisng biking as your mode of transport! Not only 
                                can you reduce your carbon footprint, but you can also stay active and energized during your travel.
                            </div>
                            </div>
                        </div>
                        <div class="mainsub-image1" id="reason2-image">
                            <img src="static/images/number2.png" alt="number-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason3-image">
                            <img src="static/images/number3.png" alt="number-3">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Cultural Experience<br>
                            <div class="subpage1-text2">
                                Biking in Amsterdam is a cultural experience in itself. You can immerse yourself in the local way of life 
                                and learn about the city's rich cycling history and traditions!
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block2-bg" id="reason2-block">
                    <div class="content">
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Sightseeing Opportunities<br>
                            <div class="subpage1-text2">
                                Want to travel Amsterdam's charming neighborhoods, stunning canals, and historic landmarks at a leisurely pace? 
                                Biking is a perfect way, as you'll have plenty of opportunities for sightseeing and photography along the way.
                            </div>
                            </div>
                        </div>
                        <div class="mainsub-image1" id="reason2-image">
                            <img src="static/images/number4.png" alt="number-4">
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainsub-block-reason">
                <div class="mainsub-block1" id="reason1-block">
                    <div class="content">
                        <div class="mainsub-image1" id="reason3-image">
                            <img src="static/images/number5.png" alt="number-5">
                        </div>
                        <div class="mainsub-text1" id="homepage-text1">
                            <div class="subpage1-subtitle1">Convenience<br>
                            <div class="subpage1-text2">
                                With bike rental shops scattered throughout the city, you can easily rent a bike to explore Amsterdam in the most 
                                convenient and cost-effective way possible. So find the nearest bike rental shop, rent your bike, and start pedaling!
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!--block for looking for things to do-->
            <div class="mainsub-block" id="bike-look">
                <div class="looking-block-home">
                    <div class="looking-subtitle">LOOKING FOR INSPIRATION?</div>
                    <div class="mainsub-text1">
                        Different routes suitable for all skill levels. Discover Amsterdam, and start your biking adventure today!
                    </div>
                    <div class="looking-link"><b><a href="sightseeing">BIKE NOW</a><span>&#8594;</span></b></div>
                </div>

                <!--footer-->
                <div class="mainsub-block" id="footer-home">
                    <div class="footer-container">
                        <div class="footer-subcontainer">
                            <div class="footer-title">Bike in<br><b>Amsterdam</b></div>
                        </div>
                        <div class="footer-subcontainer">
                            <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                            <br>
                            <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                            <br><br>
                            <div class="footer-subtitle"><a href="westsidestory"><b>BIKE ROUTE</b></a></div>
                        </div>
                        <div class="footer-subcontainer">
                            <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                            <br>
                            <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                            <br>
                            <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                            <br>
                            <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                            <br><br>
                            <div class="footer-subtitle"><a href="rental"><b>RENTAL</b></a></div>
                        </div>
                        <div class="footer-subcontainer">
                            <br><br><br><br><br><br><br><br><br><br>
                            Made by
                            <br>
                            <b>BIKE WITH US</b>
                            <br> 
                            <span>&#169;</span>Bike in Amsterdam. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}