{% extends "layout.html" %}

{% block body %}
    <!--main page of homepage-->
    <div class="page">
        <div class="homepage">
            <div class="homepage-title-container">
                <div class="subtitle" id="homepage-subtitle">Welcome to Amsterdam<br>
                <div class="title">THE BIKING CAPITAL</div>
            </div>
        </div>

        <!--first block of the homepage; explore the city by bike-->
        <div class="mainsub-block"><a id="whybike"></a>
            <div class="mainsub-block1">
                <div class="sub-body-title">DISCOVER THE CITY BY BIKE<br>
                <div class="sub-body-subtitle">Experiencing the iconic cycling culture of Amsterdam.</div>
                <div class="content">
                    <div class="mainsub-image1" id="explore-image">
                        <img src="static/images/explorethecitybybike.jpeg" alt="bike-image">
                    </div>
                    <div style="padding-left: 20px; display: flex; flex-direction: column; gap: 20px;">
                    <div class="mainsub-text1" id="homepage-text1">
                        Amsterdam is a city that truly embraces biking culture, making it one of the best cities
                        to explore on two wheels. From the stunning canals to the charming neighborhoods, there's no
                        better way to explore Amsterdam's beauty and history than by bike.
                    </div>
                    <div class="mainsub-link2">
                        <b><a href="fivereasons">FIND OUT MORE</a><span>&#8594;</span></b>
                    </div>
                </div>
                </div>
                
            </div>
        </div>

        <!--block for looking for things to do-->
        <div class="mainsub-block" id="home-block">
            <div class="looking-block-home">
                <div class="looking-subtitle">LOOKING FOR INSPIRATION?</div>
                <div class="mainsub-text1">
                    Explore Amsterdam West's history, culture, and modernity. Discover diverse neighborhoods, stunning 
                    architecture, vibrant art, and delicious food. Enjoy museums, parks, and markets for a memorable experience!
                </div>
                <div class="looking-link"><b><a href="westsidestory">BIKE NOW</a><span>&#8594;</span></b></div>
            </div>

            <!--footer-->
            <div class="mainsub-block" id="footer-home">
                <div class="footer-container">
                    <div class="footer-subcontainer">
                        <div class="footer-title">Bike in<br><b>Amsterdam</b></div>
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                        <br>
                        <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                        <br><br>
                        <div class="footer-subtitle"><a href="westsidestory"><b>BIKE ROUTE</b></a></div>
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                        <br>
                        <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                        <br>
                        <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                        <br>
                        <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                        <br><br>
                        <div class="footer-subtitle"><a href="rental"><b>RENTAL</b></a></div>
                    </div>
                    <div class="footer-subcontainer">
                        <br><br><br><br><br><br><br><br><br><br>
                        Made by
                        <br>
                        <b>BIKE WITH US</b>
                        <br> 
                        <span>&#169;</span>Bike in Amsterdam. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
