{% extends "layout.html" %}

{% block body %}
    <!--main page of homepage-->
    <div class="page">
        <div class="homepage">
            <div class="homepage-title-container">
                <div class="subtitle" id="homepage-subtitle">Welcome to Amsterdam
                <div class="title">THE BIKING CAPITAL</div>
            </div>
        </div>

        <!--first block of the homepage; explore the city by bike-->
        <div class="mainsub-block"><a id="whybike"></a>
            <div class="mainsub-block1">
                <div class="sub-body-title">
                    <a href="/fivereasons">DISCOVER THE CITY BY BIKE</a>
                <div class="sub-body-subtitle">Experiencing the iconic cycling culture of Amsterdam.</div>
                <div class="content">
                    <div class="mainsub-image1" id="explore-image">
                        <a href="/fivereasons"><img src="static/images/explorethecitybybike.jpeg" alt="bike-image"></a>
                    </div>
                    <div style="padding-left: 20px; display: flex; flex-direction: column; gap: 20px;">
                    <div class="mainsub-text1" id="homepage-text1">
                        Amsterdam is a city that truly embraces biking culture, making it one of the best cities
                        to explore on two wheels. From the stunning canals to the charming neighborhoods, there's no
                        better way to explore Amsterdam's beauty and history than by bike.
                    </div>
                    <div class="mainsub-link2">
                        <b><a href="/fivereasons">FIND OUT MORE   </a><span>&#8594;</span></b>
                    </div>
                </div>
                </div>
                
            </div>
        </div>

        <!--block for looking for things to do-->
        <div class="mainsub-block" id="home-block">
            <div class="looking-block-home">
                <div class="looking-subtitle"><a href="bikeroute">LOOKING FOR INSPIRATION?</div></a>
                <div class="mainsub-text1">
                    Go on a bike route and explore Amsterdam's history, culture, and modernity. Discover diverse neighborhoods, stunning 
                    architecture, vibrant art, and delicious food. Start exploring by bike for a memorable experience!
                </div>
                <div class="looking-link"><b><a href="bikeroute">BIKE NOW   </a><span>&#8594;</span></b></div>
            </div>

            <!--footer-->
            <div class="mainsub-block" id="footer-home3">
                <div class="footer-container">
                    <div class="footer-subcontainer" id="footer-left">
                        <div class="footer-title">
                            <a href="/">Bike in<br><b>Amsterdam</b></a>
                        </div>
                        <div class="footer-madeby">
                            Made by
                            <br>
                            <a href="https://trello.com/invite/b/uCqMZQT0/ATTI4e5d6c6509fa74f645ca34c51b3f2ef5251E0960/bike-with-us"><b>BIKE WITH US</b></a>
                            <br>
                            In collaboration with                        
                        </div>
                                                
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                        <div class="footer-subtitle"><a href="fivereasons">WHY BIKE?</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                        <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                        <div class="footer-subtitle"><a href="tricks">TIPS & TRICKS</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="bikeroute"><b>THE BIKE ROUTE</b></a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="rental"><b>BIKE RENTALS</b></a></div>
                    </div>
                    
                </div>
                <div class="footerimage-container">
                    <div class="footer-image" id="uva-logo">
                        <a href="https://www.uva.nl/en" target="_blank"><img src="static/images/uvalogo.png" alt="uva-logo"></a>
                    </div>
                    <div class="footer-image" id="cssci-logo">
                        <a href="https://www.uva.nl/en/programmes/bachelors/computational-social-science/study-programme/study-programme.html" target="_blank"><img src="static/images/cssci.png" alt="cssci-logo"></a>
                    </div>
                    <div class="footer-image" id="roos-logo">
                        <a href="https://ridewithmeworld.com/" target="_blank"><img src="static/images/ridewithme.png" alt="roos-logo"></a>
                    </div>
                </div>                   
            </div>
            <!-- end of footer -->

        </div>
    </div>
{% endblock %}
