<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale = 1, width=device-width">
        <link rel="stylesheet" href="/static/style.css">
        <title>BIKE WITH US</title>
    </head>
    <body>
        {% block body %} {% endblock %}
        <!--menu bar-->
        <!--home button-->
        <div class="menu-bar">
            <nav role="navigation">
                <div id="hamburger-toggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
            
                    <ul id="hamburger-content">
                        <div class="dropdown">
                                    <li><a href="/">HOME</a></li>
                            <div class="drop-content" id="home">
                                <a href="/#whybike">WHY BIKE?</a>
                                <a href="bikingvspublictransport">BIKING VS PUBLIC TRANSPORT</a>
                            </div>
                        </div>

                        <div class="dropdown" id="menu-item">
                                    <li><a href="westsidestory">BIKE ROUTE</a></li>
                        </div>

                        <div class="dropdown" id="menu-item">
                                    <li><a href="tips">PRACTICAL TIPS</a></li>
                            <div class="drop-content">
                                <a href="tips#gear-up">GEAR UP</a>
                                <a href="roadrules">RULES OF THE ROAD</a>
                                <a href="tips#general-tips">GENERAL TIPS</a>
                            </div>
                        </div>

                        <a href="rental">
                            <li>BIKE RENTALS</li>
                        </a>
                        <a href="/confirmation">
                            <li>Done</li>
                        </a>
                    </ul>
                </div>
            </nav>
        </div>

         <!--footer-->
        <div class="footer">
        <div class="footer-container">
            <div class="footer-title">Bike in<br><b>Amsterdam</b></div>
            <div class="footer-subtitle"><a href="#"><b>HOME</b></a></div>
        </div>
        <div class="footer-title">Bike in<br><b>Amsterdam</b></div>
        <div class="footer-nav"><a href="#">Home</a><br><a href="#overview">Overview</a><br><a href="#graphs">Graphs</a><br><a href="#implications">Implications</a></div>
        <div class="footer-subtitle"><b>Resources</b></div>
        <div class="images"><b>Images</b>
            <br>
            <br><a href="https://www.grainger.com/know-how/equipment-information/kh-security-camera-pros-and-cons" target="_blank">Background</a>
        </div>
        <div class="data"><b>Data</b>
            <br>
            <br><a href="https://en.wikipedia.org/wiki/List_of_highest-income_counties_in_the_United_States" target="_blank">List of Highest Income Counties</a>
            <br><a href="https://en.wikipedia.org/wiki/List_of_lowest-income_counties_in_the_United_States" target="_blank">List of Lowest Income Counties</a>
            <br><a href="https://atlasofsurveillance.org/atlas" target="_blank">Dataset of Surveillance Technologies</a>
        </div>
        </div>

    </body>
</html>