{% extends "layout.html" %}

{% block body %}
    <div class="page">
        <div class="rent-home">
            <div class="title-container">
                <div class="title">RENT-A-BIKE<br>
                <div class="subtitle">Top bike rentals in Amsterdam</div>
            </div>
        </div>
        
        <div class="intro-paragraph">
            Explore beautiful Amsterdam by bike! With its vast network of bike lanes, it's easy and safe to navigate. Rent a
            bike to discover hidden gems and take in stunning views at your pace without the hassle of public transport or
            expensive taxis. Plus, cycling is a fun and eco-friendly way to immerse yourself in local culture. Join the
            Amsterdammers by renting a bike at a local shop and get ready for an unforgettable experience!
        </div>

        <div class="mainsub-block-reason" id="map-block">
            <div class="mainsub-block1" id="map-position">
                <iframe src="https://www.google.com/maps/d/embed?mid=1wlXOlfqWYkFsm5yekywE9WSCtwVpWCQ&ehbc=2E312F" width="100%" height="500vh" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="mainsub-link2" id="begin-route">
                    <a href="https://www.google.com/maps/d/embed?mid=1wlXOlfqWYkFsm5yekywE9WSCtwVpWCQ&ehbc=2E312F" target="_blank"><b>OPEN MAPS<span>&#8594;</span></b></a>
                </div>
            </div>
        </div>
        
        <div class="mainsub-block-reason" id="places-position">
            <div class="content" id="places-size">
                <div class="box">
                    <img src="static/images/macbike-final.png" class="place-image" alt="macbike-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>MacBike</b><div class="price"><b>€€</b></div>
                            <br>
                        <div class="location">
                            Oosterdok, Vondelpark & Waterlooplein
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link"><a href="https://www.macbike.nl/en/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/ovfiets-final.png" class="place-image" alt="ovfiets-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>OV-Fiets</b><div class="price"><b>€</b></div>
                            <br>
                        <div class="location">
                            Stations, bus or metro stops, and at P+R areas
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link"><a href="https://www.ns.nl/deur-tot-deur/ov-fiets/hoe-werkt-het.html" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/abike-final.png" class="place-image" alt="abike-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>A-Bike Rental & Tours</b><div class="price"><b>€€</b></div>
                            <br>
                        <div class="location">
                            Leisdeplein, Vondelpark, and Rijksmuseum
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link"><a href="https://a-bike.nl/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
            </div>

            <div class="content" id="places-size">
                <div class="box">
                    <img src="static/images/rentabike-final.png" class="place-image" alt="rentabike-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Rent a Bike</b><div class="price"><b>€€</b></div>
                            <br>
                        <div class="location">
                            Dam Sqaure
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://www.rentabike.nl/en" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/discountbike-final.png" class="place-image" alt="discountbikerental-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Discount Bike Rental</b><div class="price"><b>€€€</b></div>
                            <br>
                        <div class="location">
                            Dam Square
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://www.discountbikerental.nl/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/bikecity-final.png" class="place-image" alt="bikecity-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Bike City</b><div class="price"><b>€€</b></div>
                            <br>
                        <div class="location">
                            Joordan
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://bikecity.nl/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
            </div>

            <div class="content" id="places-size">
                <div class="box">
                    <img src="static/images/holland-final.png" class="place-image" alt="holland-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Holland Rent A Bike</b><div class="price"><b>€€€€</b></div>
                            <br>
                        <div class="location">
                            Centraal
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://holland-rentabike.nl/en/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/amsterbike-final.png" class="place-image" alt="amsterbike-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Amsterbike</b><div class="price"><b>€€</b></div>
                            <br>
                        <div class="location">
                            Ij Waterfront 
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://www.amsterbike.eu/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
                <div class="box">
                    <img src="static/images/blackbikes-final.png" class="place-image" alt="blackbikes-image">
                    <div class="info-box">
                        <div class="place-title">
                            <b>Black Bikes</b><div class="price"><b>€€€</b></div>
                            <br>
                        <div class="location">
                            De Pijp, and 19 other locations
                        </div>
                            <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
                        </div>
                        <div class="external-link" id="rentabike"><a href="https://black-bikes.com/steden/amsterdam/" target="_blank">FIND OUT MORE</a><span>&#8594;</span></div>
                    </div>
                </div>
            </div>

        <!--block for looking for things to do-->
        <div class="mainsub-block">
            <div class="looking-block-home">
                <div class="looking-subtitle">LOOKING FOR INSPIRATION?</div>
                <div class="mainsub-text1">
                    Explore Amsterdam's history, culture, and modernity. Discover diverse neighborhoods, stunning 
                    architecture, vibrant art, and delicious food. Enjoy museums, parks, and markets for a memorable experience!
                </div>
                <div class="looking-link"><b><a href="bikeroute">BIKE NOW</a><span>&#8594;</span></b></div>
            </div>

            <!--footer-->
            <div class="mainsub-block" id="footer-home3">
                <div class="footer-container">
                    <div class="footer-subcontainer" id="footer-left">
                        <div class="footer-title">
                            <a href="/">Bike in<br><b>Amsterdam</b></a>
                        </div>
                        <div class="footer-madeby">
                            Made by
                            <br>
                            <a href="https://trello.com/invite/b/uCqMZQT0/ATTI4e5d6c6509fa74f645ca34c51b3f2ef5251E0960/bike-with-us"><b>BIKE WITH US</b></a>
                            <br>
                            In collaboration with                        
                        </div>
                                                
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                        <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                        <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                        <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                        <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="bikeroute"><b>THE BIKE ROUTE</b></a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="rental"><b>BIKE RENTALS</b></a></div>
                    </div>
                    
                </div>
                <div class="footerimage-container">
                    <div class="footer-image" id="uva-logo">
                        <a href="https://www.uva.nl/en" target="_blank"><img src="static/images/uvalogo.png" alt="uva-logo"></a>
                    </div>
                    <div class="footer-image" id="cssci-logo">
                        <a href="https://www.uva.nl/en/programmes/bachelors/computational-social-science/study-programme/study-programme.html" target="_blank"><img src="static/images/cssci.png" alt="cssci-logo"></a>
                    </div>
                    <div class="footer-image" id="roos-logo">
                        <a href="https://ridewithmeworld.com/" target="_blank"><img src="static/images/ridewithme.png" alt="roos-logo"></a>
                    </div>
                </div>                   

            </div>
        </div>
    </div>





{% endblock %}