{% extends "layout.html" %}

{% block body %}
    <!--main page of road rules-->
    <div class="page">
        <div class="roadrules-home">
            <div class="title-container">
                <div class="title">RULES OF THE ROAD<br>
                <div class="subtitle">Things to remember, things to learn, things to remind yourself of</div>
            </div>
        </div>

        <!--first block of the road rules; triangles-->
        <div class="mainsub-block">
            <div class="mainsub-block1">

                <div class="content">
                    <div class="mainsub-image1" id="sharkteeth-img">
                        <img src="static/images/triangles.png" alt="sharkteeth-image">
                    </div>
                    <div class="sub-body-title"> TRIANGLES<br>
                    <div class="mainsub-text1" id="homepage-text1"><p>
                        While biking, you will notice some funny triangles drawn on the path at intersections. <span style='font-weight: bold;'>This is to illustrate
                        who has right of way.</span> If it faces away from you, you have right of way to keep biking. However, if it points
                        to you, you have to brake and give way to passing bikes</p>
                    </div>
                </div>
            </div>
        </div>

        <!--second block of the road rules; tips block-->
        <div class="tip-block">
            <div class="content">
                <div class="mainsub-text1" id="homepage-text1"><p>
                    <span style='font-weight: bold;'>Always, always, always stay on the right!</span> Make sure there is enough space on your left for faster cyclists
                    to overtake. The worst mistake you can make is to bike in the middle of the bike path.
                </p></div>
            </div>
        </div>

        <!--third block of the road rules; parking-->
        <div class="mainsub-block">
            <div class="mainsub-block1">
                <div class="sub-body-title">PARKING<br>
                <div class="sub-body-subtitle">Where and how to park correctly</div>
                <div class="content">
                    <div class="mainsub-text1" id="homepage-text2"><p>
                        You will come to find that parking is a bit of an issue in Amsterdam. However, you are usually able to park your
                        bike right infront of your destination. <br><br>
                        Here are some things to note:
                            <br>
                            1. <span style='font-weight: bold;'>Park in designated racks</span> or painted boxes, or look at where bikes are clustered and park there
                            (usually fences/walls/bridges)
                            <br><br>
                            2. <span style='font-weight: bold;'>Don't block the sidewalk</span> or park right infront of a shop window
                            <br><br>
                            3. The signs that say "P Fiets in de rekken max 14 degen" mean you have to park your bike in the racks
                            (or it will be removed) and you cannot leave it longer than 14 days</p>
                    </div>
                    <div class="mainsub-image1" id="park-image">
                        <img src="static/images/parking.png" alt="park-sign-image">
                    </div>
                </div>
            </div>
        </div>

        <!--fourth block of the road rules; road signs-->
        <div class="mainsub-block">
            <div class="mainsub-block1" id="roadrule-end">
                <div class="sub-body-title" id="roadrule-title">IMPORTANT BIKE ROAD SIGNS</div>
                <div class="road-sign-image" id="roadrule-title">
                    <img src="static/images/road_signs.png" alt="road-signs-image">
                </div>
            </div>

            <!--footer-->
            <div class="mainsub-block" id="footer-home3">
                <div class="footer-container">
                    <div class="footer-subcontainer" id="footer-left">
                        <div class="footer-title">
                            <a href="/">Bike in<br><b>Amsterdam</b></a>
                        </div>
                        <div class="footer-madeby">
                            Made by
                            <br>
                            <a href="https://trello.com/invite/b/uCqMZQT0/ATTI4e5d6c6509fa74f645ca34c51b3f2ef5251E0960/bike-with-us"><b>BIKE WITH US</b></a>
                            <br>
                            In collaboration with                        
                        </div>
                                                
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                        <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                        <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                        <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                        <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="bikeroute"><b>THE BIKE ROUTE</b></a></div>
                    </div>

                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="rental"><b>BIKE RENTALS</b></a></div>
                    </div>
                    
                </div>
                <div class="footerimage-container">
                    <div class="footer-image" id="uva-logo">
                        <a href="https://www.uva.nl/en" target="_blank"><img src="static/images/uvalogo.png" alt="uva-logo"></a>
                    </div>
                    <div class="footer-image" id="cssci-logo">
                        <a href="https://www.uva.nl/en/programmes/bachelors/computational-social-science/study-programme/study-programme.html" target="_blank"><img src="static/images/cssci.png" alt="cssci-logo"></a>
                    </div>
                    <div class="footer-image" id="roos-logo">
                        <a href="https://ridewithmeworld.com/" target="_blank"><img src="static/images/ridewithme.png" alt="roos-logo"></a>
                    </div>
                </div>                   

            </div>
        </div>
    </div>







{% endblock %}