{% extends "layout.html" %}

{% block body %}
    <div class="page">
        <!--main page of tips, tricks & safety-->
        <div class="tips-home">
            <div class="title-container">
                <div class="title">TIPS, TRICKS & SAFETY<br>
                <div class="subtitle">Beginners guide to biking</div>
            </div>
        </div>

        <!--first block of tips, tricks & safety; gear-up-->
        <div class="mainsub-block">
            <div class="mainsub-block1">
                <div class="sub-body-title"><a id="gear-up">GEAR UP</a>
                <div class="sub-body-subtitle">First step to experience the city!</div>
                <div class="content">
                    <div class="mainsub-image1">
                        <img src="static/images/ov-fiets.jpeg" alt="bike-image">
                    </div>
                    <div class="mainsub-text1" id="homepage-text1">
                        <p>Most hotels in Amsterdam have their own bikes they rent to visitors. Additionally, there are many bike shops scattered
                        throughout the city where you can rent bikes for around 10 euros a day. You can also get kids bikes as well as
                        bikes with child seats and tandem bikes. <br><br> <span style="font-weight: bold;">PS: A raincoat will be handy more often than you think!</span></p>
                    </div>
                </div>
                <div class="mainsub-link2">
                    <b><a href="rental">FIND OUT MORE</a><span>&#8594;</span></a></b>
                </div>
            </div>
        </div>

        <!--second block of tips, tricks & safety; rules of the road-->
        <div class="mainsub-block">
            <div class="mainsub-block2-bg">
                <div class="sub-body-title" id="right-align">RULES OF THE ROAD
                <div class="sub-body-subtitle">Things to remember while biking!</div>
                <div class="content">
                    <div class="mainsub-text1" id="homepage-text1">
                        When biking in Amsterdam, it's important for you to pay attention to a few key things to ensure a safe and
                        enjoyable experience. By keeping these things in mind, you'll be able to explore all that this beautiful city
                        has to offer.
                    </div>
                    <div class="mainsub-image1" id="tips-image">
                        <img src="static/images/road_signs.png" alt="road-signs-image">
                    </div>
                </div>
                <div class="mainsub-link2">
                    <b><a href="roadrules">FIND OUT MORE</a><span>&#8594;</span></b>
                </div>
            </div>
        </div>

        <!--third block of tips, tricks & safety; general tips-->
        <div class="mainsub-block">
            <div class="mainsub-block1">
                <div class="sub-body-title"><a id="general-tips">GENERAL TIPS</a>
                <div class="sub-body-subtitle">A guide for those unfamiliar with the city</div>
                <div class="content">
                    <div class="mainsub-image1" id="tips-image2" style="height: 80vh;
                    overflow: hidden;">
                        <img src="static/images/tips-end.png" alt="bike-image" style="object-fit: fill;
                        width: auto;">
                    </div>
                    <div class="mainsub-text1" id="homepage-text1">
                        <p><span style="font-weight: bold;">Tram rails are everywhere!</span> Make sure to cross them at an angle so your bike doesn't get stuck in there.
                        <br><br>
                        Just a heads up, scooters are allowed on some of the bike paths, and e-bikes are increasingly popular in Amsterdam, 
                        resulting in many different speeds on the bike path. Remember to always stay on the right, leaving room for and paying 
                        attention to all silent and speedy city riders.
                        <br><br>
                        With the city of bikes comes the city of thieves, make sure to <span style="font-weight: bold;">lock up your bike securely</span>
                        whenever you park.
                        <br><br>
                        Pedestrians can sometimes be unpredictable so keep an eye out for anyone ahead who might suddenly try 
                        to cross the bike path.<p>
                    </div>
                </div>
            </div>
        </div>

        <!--block for looking for things to do-->
        <div class="mainsub-block">
            <div class="looking-block-home">
                <div class="looking-subtitle">LOOKING FOR INSPIRATION?</div>
                <div class="mainsub-text1">
                    Explore Amsterdam's history, culture, and modernity. Discover diverse neighborhoods, stunning 
                    architecture, vibrant art, and delicious food. Enjoy museums, parks, and markets for a memorable experience!
                </div>
                <div class="looking-link"><b><a href="bikeroute">BIKE NOW</a><span>&#8594;</span></b></div>
            </div>

            <!--footer-->
            <div class="mainsub-block" id="footer-home3">
                <div class="footer-container">
                    <div class="footer-subcontainer" id="footer-left">
                        <div class="footer-title">
                            <a href="/">Bike in<br><b>Amsterdam</b></a>
                        </div>
                        <div class="footer-madeby">
                            Made by
                            <br>
                            <a href="https://trello.com/invite/b/uCqMZQT0/ATTI4e5d6c6509fa74f645ca34c51b3f2ef5251E0960/bike-with-us"><b>BIKE WITH US</b></a>
                            <br>
                            In collaboration with                        
                        </div>
                                                
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="/"><b>HOME</b></a></div>
                        <div class="footer-subtitle"><a href="/#whybike">WHY BIKE?</a></div>
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="bikeroute"><b>THE BIKE ROUTE</b></a></div>
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="tips"><b>PRACTICAL TIPS</b></a></a></div>
                        <div class="footer-subtitle"><a href="tips#gear-up">GEAR UP</a></div>
                        <div class="footer-subtitle"><a href="roadrules">ROAD RULES</a></div>
                        <div class="footer-subtitle"><a href="tips#general-tips">GENERAL TIPS</a></div>
                    </div>
                    <div class="footer-subcontainer">
                        <div class="footer-subtitle"><a href="rental"><b>BIKE RENTALS</b></a></div>
                    </div>
                    
                </div>
                <div class="footerimage-container">
                    <div class="footer-image" id="uva-logo">
                        <a href="https://www.uva.nl/en"><img src="static/images/uvalogo.png" alt="uva-logo"></a>
                    </div>
                    <div class="footer-image" id="cssci-logo">
                        <a href="https://www.uva.nl/en/programmes/bachelors/computational-social-science/study-programme/study-programme.html"><img src="static/images/cssci.png" alt="cssci-logo"></a>
                    </div>
                    <div class="footer-image" id="roos-logo">
                        <a href="https://ridewithmeworld.com/"><img src="static/images/ridewithme.png" alt="roos-logo"></a>
                    </div>
                </div>                   

            </div>
        </div>



    </div>


    



{% endblock %}