{% extends "layout.html" %}

{% block body %}
    <div class="page">
        <!--main page of tips, tricks & safety-->
        <div class="tips-home">
            <div class="title-container">
                <div class="title">TIPS, TRICKS & SAFETY<br>
                <div class="subtitle">Beginners guide to biking</div>
            </div>
        </div>

        <!--first block of tips, tricks & safety; gear-up-->
        <div class="mainsub-block">
            <div class="mainsub-block1">
                <div class="sub-body-title"><a id="gear-up">GEAR UP</a><br>
                <div class="sub-body-subtitle">First step to experience the city!</div>
                <div class="content">
                    <div class="mainsub-image1">
                        <img src="static/ov-fiets.jpeg" alt="bike-image">
                    </div>
                    <div class="mainsub-text1" id="homepage-text1">
                        Most hotels in Amsterdam have their own bikes they rent to visitors. Additionally, there are many bike shops scattered
                        throughout the city where you can rent bikes for around 10 euros a day. You can also get kids bikes as well as
                        bikes with child seats and tandem bikes. <br><br> *PS: A raincoat will be handy more often than you think!*
                    </div>
                </div>
                <div class="mainsub-link2">
                    <b><a href="rental">FIND OUT MORE</a><span>&#8594;</span></a></b>
                </div>
            </div>
        </div>

        <!--second block of tips, tricks & safety; rules of the road-->
        <div class="mainsub-block">
            <div class="mainsub-block2-bg">
                <div class="sub-body-title" id="right-align">RULES OF THE ROAD<br>
                <div class="sub-body-subtitle">Things to remember while biking!</div>
                <div class="content">
                    <div class="mainsub-text1" id="homepage-text1">
                        When biking in Amsterdam, it's important for you to pay attention to a few key things to ensure a safe and
                        enjoyable experience. By keeping these things in mind, you'll be able to explore all that this beautiful city
                        has to offer.
                    </div>
                    <div class="mainsub-image1" id="tips-image">
                        <img src="static/road_signs.png" alt="road-signs-image">
                    </div>
                </div>
                <div class="mainsub-link2">
                    <b><a href="roadrules">FIND OUT MORE</a><span>&#8594;</span></b>
                </div>
            </div>
        </div>

        <!--third block of tips, tricks & safety; general tips-->
        <div class="mainsub-block">
            <div class="mainsub-block1">
                <div class="sub-body-title"><a id="general-tips">GENERAL TIPS</a><br>
                <div class="sub-body-subtitle">A guide for those unfamiliar with the city</div>
                <div class="content">
                    <div class="mainsub-image1" id="tips-image2">
                        <img src="static/bike-parking.jpeg" alt="bike-image">
                    </div>
                    <div class="mainsub-text1" id="homepage-text1">
                        *Tram rails are everywhere!* Make sure to cross them at an angle so your bike doesn't get stuck in there.
                        <br><br>
                        Just a heads up, scooters are allowed on some bike paths. It can be scary to hear the engine speeding right
                        behind you but remember to *stay on the right* and give them space to go by and you'll be fine. 
                        <br><br>
                        With the city of bikes comes the city of thieves, make sure to *lock up your bike securely*
                        whenever you park.
                        <br><br>
                        Pedestrians can sometimes be unpredictable so keep an eye out for anyone ahead who might suddenly try 
                        to cross the bike path.
                    </div>
                </div>
            </div>
        </div>



    </div>


    



{% endblock %}